 @font-face {
    font-family: 'Gilray';
    src: url("./Gilroy-Regular.woff");
 } 



 *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
 }

 html{
    font-size: 1rem;
 }

 .hide{
    display: none;
 }

 .fadein{
    animation: fade 0.5s ease-in-out;
 }

 @keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
 }

 header{
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(226, 225, 225);
    width: 100%;
    height: 60px;
    max-width: 1200px;
 }

.logo{
    display: flex;
    align-items: center;
    padding-left: 20px;
    flex: 1;
}

.logo img{
    width: 60px;

}

.logo p{
    font-weight: bold;
    color:blueviolet;
}

nav ul{
    display: flex;
    align-items: center;

}

nav ul li{
    list-style: none;
}

nav ul li :last-child{
    padding-right: 20px;
}

nav ul li a{
    text-decoration: none;
    color: blueviolet;
    padding: 10px;
}

main{
    max-width: 1200px;
   margin: 0 auto;
}

.stats{
    width: 100%;
    background-size: cover;
   background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url('../img/bg.jpg');
}

.latest-reports{
    width: 80%;
    color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    margin: 0 auto;
}

.country,.total-cases,.recovered,.deaths{
height: 100px;


}

.name{
    color: rgb(163, 80, 239);
    font-size: 2.2em;
    font-weight: bold;
    
}

.change-country{
    cursor: pointer;
}

.title{
  font-size: 1.3em;  
}

.total-cases .value{
    font-size: 2em;
    font-weight: bold;
}
.recovered .value{
    font-size: 2em;
    font-weight: bold;
    color: rgb(8, 173, 8);
}

.deaths .value{
    font-size: 2em;
    font-weight: bold;
    color: rgb(173, 52, 8);
}

.charts{
    width: 80%;
    height: 70vh;
    min-height: 500px;
    margin: 0 auto;
    padding: 50px 0;
}

.search-country{
    position: relative;
    top: 10px;
}

.search-box{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    background-color: black;
    z-index: 1;
}

.search-box input{
width: 300px;
height: 25px;
border: none;
color: rgb(3, 9, 14);
padding-left: 15px;
font-size: 1.2em;
}

.search-box img{
    width: 20px;
    padding-left: 4px;
    cursor:pointer;
}

.country-list{
      display: flex;
      justify-content: space-between;
    position: absolute;
    top :30px;
    width: 300px;
    height: 300px;
     opacity: 0.9 ;
    overflow-y: scroll;
    background-color: #111;
}

.country-list ul {

}

.country-list ul li{
list-style: none;
cursor: pointer;
padding: 10px;
color: white;

}


.country-list ul li:hover{
    border-left:1px solid whitesmoke ;
}
.img{
    height: 40rem;
}


footer{
    max-width: 1200px;
    height: 60px;
    margin: 0 auto;
    background-color: blueviolet;

}

.footer-container{
    height: 100px;
    display: flex;
    /* background-color: red; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.copyright p{
    color: aliceblue;
}

@media screen and (max-width:600px){
    .latest-reports{
        display: flex;
        flex-direction: column;
        align-items:flex-start ;
    }
    
}



.country-list::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
 .country-list::-webkit-scrollbar-track {
    background: #3b3a3a;
  }
  
  /* Handle */
  .country-list::-webkit-scrollbar-thumb {
    background: rgb(18, 123, 228);
  }
  
  /* Handle on hover */
   .country-list::-webkit-scrollbar-thumb:hover {
    background: rgb(11, 161, 255);
  }